.photo-block {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 150px;
    vertical-align: middle;
    overflow: hidden;

    img {
        height: inherit;
    }

    mat-card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }   
}