<ng-container *ngIf="photos.length > 0; else searchTemplate">
    <div>
        <button (click)="goToNgTemplate()">Back</button>

        <input type="text" [(ngModel)]="inputTitle" (change)="setInputTitle($event.target.value)" placeholder="Search photo...">

        <app-photo-sort (changedOption)="setSelectedOption($event)"></app-photo-sort>
    </div>

    <app-op-photo *ngFor="let photoObj of photos | photoSearch:inputTitle | photoSort:selectedOption"
        [photoObj]="photoObj">
    </app-op-photo>
</ng-container>


<ng-template #searchTemplate>
    <input type="text" [(ngModel)]="searchText">
    <button (click)="searchInNgTemplate(searchText)">Search</button>
</ng-template>