<ng-container *ngIf="photos.length > 0; else searchTemplate">
    <div>
        <button mat-raised-button (click)="goToStartPage()">Back</button>

        <mat-form-field class="input">
            <mat-label>Filtered photos...</mat-label>
            <input matInput type="text" [(ngModel)]="filterTitle" (change)="setFilterTitle($event.target.value)">
        </mat-form-field>

        <app-photo-sort (changedOption)="setSelectedOption($event)"></app-photo-sort>
    </div>

    <app-op-photo *ngFor="let photoObj of photos | photoSearch:filterTitle | photoSort:selectedOption"
        [photoObj]="photoObj">
    </app-op-photo>
</ng-container>


<ng-template #searchTemplate>
    <mat-form-field class="input">
        <mat-label>Search photos...</mat-label>
        <input matInput type="text" [(ngModel)]="searchText">
    </mat-form-field>
    <button mat-raised-button (click)="searchInStartPage(searchText)">Search</button>
</ng-template>